<div>
    <header>
        <nav>
            <a asp-controller="Home" asp-action="OrderPost">Форма создания заказа</a>
            <a asp-controller="Home" asp-action="OrderList">Список заказов</a>
        </nav>
    </header>
</div>