<div class="container-post">
    <form asp-action="OrderPost" asp-controller="Home" method="post" class="form-post">
        <div asp-validation-summary="All"></div>
        <div class="form-items">
            <input asp-for="SenderCity" placeholder="Город отправителя"/>
        </div>
        <div class="form-items">
            <input asp-for="AddressSender" placeholder="Адрес отправителя"/>
        </div>
        <div class="form-items">
            <input asp-for="ResipientCity" placeholder="Город получателя"/>
        </div>
        <div class="form-items">
            <input asp-for="AddressResipient" placeholder="Адрес получателя"/>
        </div>
        <div class="form-items">
            <input asp-for="CargoWeight" placeholder="Вес груза" type="number"/>
        </div>
        <div class="form-items">
            <input asp-for="DateReceipt" placeholder="Дата получения груза"/>
        </div>
        <div>
            <input type="submit" value="Сформировать заказ" class="sub"/>
        </div>
    </form>
</div>